body {
  margin:0;
  padding:0;

  background: url('COOOOOOOOOL.jpg') no-repeat center center;
  background-size: cover;     
  background-attachment: fixed;
}

#music-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background: #4778c3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#music-btn:hover {
  background: #355a91;
}

#wrapper {
  background: #fff;
  margin: auto;
  width: 900px;
}

#header {
  background:#00CED1;
  height: 200px;
}

.text_header {
  text-align:center;
  padding-top:70px;
  font-size:28px;
  font-weight:bold;
}

#menu {
  background: #a2a2a2;
  height: 400px;
}

ul {
  margin:0;
  padding:0;
  list-style:none;
}

ul li {
  float:left;
}

ul a {
  display:block;
  width:150px;
  height:40px;
  text-align:center;
  line-height:40px;
  text-decoration:none;
  color:#fff;
  background:#4778c3;
}

ul a:hover {
  background:#355a91;
}

#content {
  background: #d2d0d2;
  padding:20px;
  min-height:200px;
}

#footer {
  background: #838283;
  height: 30px;
}

.footer_text {
  text-align:center;
  padding-top:5px;
}
